# Ignore python virtual environments
testenv/
venv/
.venv/
__pycache__/
*.pyc

# Ignore data and databases
data/
*.db
*.sqlite3
*.csv
*.gz

# Ignore logs
logs/
*.log

# Ignore Git files
.git/
.github/
.gitignore

# Ignore local configs
.env
