:8109 {
    # Provide the bcrypt hash of your desired password.
    # Generate it using: caddy hash-password
    basicauth {
        admin $2a$14$s0JVrz0ctvruLg0qBOFNHOJcokhEkfJyum41CtVy.Nqu5UwfI8oWm
    }
    reverse_proxy /api/* localhost:8000
    reverse_proxy dashboard:8501
}
